body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: fixed;
}

button {
    background: rgb(113, 175, 255);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 7px;
    font-size: 18px;
    font-family: inherit;
}

button:focus {
    outline-color: white;
}

button:active {
    background-color: rgb(107, 154, 192);
}

header {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    padding: 10px;
    background: rgb(192, 219, 255);
    border-bottom: 1px solid #ddd;
}

header h1 {
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 24px;
    margin: 0;
    padding: 0;
    margin-right: 10px;
}

header>* {
    margin: 0 5px;
}

header>left,
right {
    display: flex;
    align-items: center;
}

header buttongroup {
    margin: 0 10px;
}

main {
    width: 100%;
    height: calc(100% - 50px);
}

main>editor {
    font-family: Menlo, monospace;
    width: 100%;
    height: 75%;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    font-size: 11pt;
}

editor>.CodeMirror {
    width: 100%;
    height: 100%;
}

editor>lines {
    height: 0;
    margin-right: 5px;
    text-align: right;
    opacity: .3;
    width: 3%;
}

lines div {
    height: 14pt;
    vertical-align: baseline;
    transform: translateY(1.2pt);
}

main>.output {
    height: 25%;
    min-height: 50px;
    max-height: 200px;
    padding: 10px;
    margin: 0;
    overflow: auto;
    box-sizing: border-box;
    flex-shrink: 0;
    border-top: 1px solid #ddd;
    background-color: #f7f7f7;
}

.output span {
    margin: 0;
    font-size: 15px;
}

.output span.info {
    opacity: .7;
    margin: 10px 0;
}

.output span.stderr {
    color: red;
}