body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: fixed;
}

button {
    background: rgb(113, 175, 255);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 7px;
    font-size: 18px;
    font-family: inherit;
}

#snippetUrl {
    font-size: 18px;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid rgb(55, 85, 126);
    width: 280px;
    vertical-align: sub;
}

button:focus {
    outline-color: white;
}

button:active {
    background-color: rgb(107, 154, 192);
}

header {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /*height: 50px;*/
    width: 100%;
    padding: 10px;
    background: rgb(192, 219, 255);
    border-bottom: 1px solid #ddd;
}

@media (max-width:420px) {
    header {
        font-size: 18px;
    }

    header>left {
        flex-direction: column;
        align-items: flex-start !important;
        margin-bottom: 5px;
    }
    header>left buttongroup, header>right buttongroup{
        margin: 0;
    }
}

a{
    text-decoration: none;
}

header h1 {
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 24px;
    min-width: 120px;
    margin: 0;
    padding: 0;
    margin-right: 10px;
}

header>* {
    margin: 0 5px;
}

header>left,
right {
    display: flex;
    align-items: center;
}

header buttongroup {
    margin: 0 10px;
}

main {
    width: 100%;
    height: calc(100% - 50px);
}

main>editor {
    font-family: Menlo, monospace;
    width: 100%;
    height: 75%;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    font-size: 11pt;
}

editor>.CodeMirror {
    width: 100%;
    height: 100%;
}

editor>lines {
    height: 0;
    margin-right: 5px;
    text-align: right;
    opacity: .3;
    width: 3%;
}

lines div {
    height: 14pt;
    vertical-align: baseline;
    transform: translateY(1.2pt);
}

main>.output {
    height: 25%;
    min-height: 50px;
    max-height: 200px;
    padding: 10px;
    margin: 0;
    overflow: auto;
    box-sizing: border-box;
    flex-shrink: 0;
    border-top: 1px solid #ddd;
    background-color: #f7f7f7;
}

.output span {
    margin: 0;
    font-size: 15px;
}

.output span.info {
    opacity: .7;
    margin: 10px 0;
}

.output span.stderr {
    color: red;
}

.fork-me {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    z-index: 100;
    transform: scale(.8);
    transform-origin: top right;
}

button.github:before{
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-size: contain;
    transform: translateY(2px);
    margin-right: 3px;
    background-image: url("/static/img/github.svg")
}