<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>The setlX Playground</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <meta name="apple-mobile-web-app-title" content="seltX">
    <link rel="apple-touch-startup-image" href="/static/img/icon.jpg">
    <link rel="apple-touch-icon" href="/static/img/icon.jpg">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="256x256" href="/static/img/icon.jpg">

    <script src="/static/lib/codemirror.min.js"></script>
    <script src="/static/mode/setlx/simple.js"></script>
    <script src="/static/mode/setlx/setlx.js"></script>
    <link rel="stylesheet" href="/static/lib/codemirror.min.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script>var embeded = {{.Embeded}}</script>
</head>

<body {{ if .Embeded }}class="embeded"{{end}}>
    <!--<a href="https://github.com/KeKsBoTer/setlxPlayground"><img class="fork-me" src="/static/forkme_right_darkblue_121621.png"
            alt="Fork me on GitHub"></a>-->
    <header>
        <h1>
        {{ if not .Embeded }}
        The setlX Playground
        {{ else }}
        setlX
        {{ end }}
        </h1>
        <toolbar>
            <left>
                <buttongroup>
                    <button onclick="run()" id="run" class="icon">Run</button>
                    {{ if not .Embeded }}
                    <button onclick="share()" id="share" class="icon">Share</button>
                    <input type="hidden" id="snippetUrl" />
                    {{ else }}
                    <a href="{{.URL}}" target="_blank">
                    <button class="icon" id="edit" >Edit</button>
                    </a>
                    {{ end }}
                </buttongroup>
            </left>
            <right>
            {{ if not .Embeded }}
                <buttongroup>
                    <a href="https://github.com/KeKsBoTer/setlxPlayground">
                        <button class="github icon">Sources</button>
                    </a>
                    <a href="/imprint">
                        <button class="imprint">Imprint</button>
                    </a>
                </buttongroup>
            {{ end }}
            </right>
        </toolbar>
    </header>
    <main>
        <editor>
            <textarea id="code" autocorrect="off" autocomplete="off" autocapitalize="off" spellcheck="false" wrap="off">{{.Code}}</textarea>
        </editor>
        <pre class="output" id="output"></pre>
    </main>
    <script src="/static/script.js"></script>
</body>

</html>